body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  button-align: center;
}


#bookworm.affix {
    position:fixed;
    right:10px;
    left: auto;
    top:40px;
}